---
import Base from "@layouts/Base.astro";
---

<Base title="About" , description="jumpbit corporation">
  <article>
    <header><h1>About jumptbit</h1></header>
    <p>It will soon start off.</p>
  </article>
</Base>
