---
import Base from "@layouts/Base.astro";
import RecentPosts from "@components/RecentPosts.astro";
---

<Base>
  <article>
    <header><h1>jumpbit</h1></header>
    <p>
      <img src="/jumpbitlogoweiss.png">
    </p>
    <p>This site will soon start off. Till then not further information is provided, but the context
      of this site is around IT services, software development and consulting using latest technologies.</p>
    </p>

  </article>
  <hr />
  <RecentPosts />
</Base>
